# Setup

In [136]:
import pandas as pd

In [176]:
final = pd.read_csv("Combined_TOYCOMP_BNF_NHS_data.csv") # Import the TOY dataset
print(final.shape)

(3652, 43)

# Dropping NA and unuseful columns

In [177]:
print(final.isna().sum())  # Count the number of NA rows in that column

Unnamed: 0                           0
timepoint                            0
e8...                                0
name                                 0
address_1                            0
address_2                          117
address_3                           39
area                               381
postcode                             0
national_grouping                    0
high_level_health_geography          0
date_open                            0
date_close                        3652
status_code                          0
subtype                              0
commissioner                         0
setting_all_gp_reference             0
type                                 0
ccg_code                             0
ons_ccg_code                         0
sex                                  0
age                                  0
number_of_patients                   0
organisation_code                    0
ccg/pct                              0
primary_care_organisation_type       0
join_parent_date                     0
left_parent_date                   783
amended_record_indicator             0
sha                                  0
practice                             0
bnf.code                             0
bnf.name                             0
items                                0
nic                                  0
act.cost                             0
quantity                             0
period                               0
bnf.chapter                          0
bnf.section                          0
bnf.paragraph                        0
bnf.chemical                         0
bnf.letters                          0
dtype: int64

In [178]:
# Drop columns that are uninformative to the machine learning
final.drop(["Unnamed: 0", "amended_record_indicator", "period", "setting_all_gp_reference", "Unnamed: 0", "timepoint", "address_1", "name"], axis=1, inplace = True)
final.shape #Shows that the correct nmumber of columns have been droppde

(3652, 36)

In [179]:
#indexNames = final[final['date_close'] != 'NaN' ].index #Run this to potentially remove any columns that are NaN
    #Not sure it actually works though
#final.drop(indexNames, inplace=True)
#final.shape

In [180]:
final.drop(["date_close"], axis=1, inplace = True) # Delete the now empty column

# Categorical columns section

### Turning a categorical column into a list of 1-x

In [181]:
# Which columns might need converting?
# Shows that columns either contain booleans or objects

In [195]:
final['area'].unique() # Shows that area is probably good to keep on a large scale 
#Drop the other area realted variables - see q answered notesbook 20.2.24
final['bnf.section'].unique()

array([ 3,  4,  7,  6,  2, 12, 30, 22, 60,  1, 10, 27, 80,  8,  5,  9, 94,
       35, 96, 21, 85, 11, 15, 50, 29, 28, 45, 14, 24, 70])

In [183]:
# Creating final data set to use, with formatted columns
final.drop(["address_2", "status_code", "subtype", "organisation_code", "postcode", "primary_care_organisation_type", "address_3", "bnf.chemical", "bnf.letters", "bnf.code", "practice", "ons_ccg_code", "sex", "age"], axis=1, inplace = True) # Drop the address columns, in favour of using area

In [ ]:
# Assign into columns of types
#C reate a dataset that converts categorical variables into a separate column per variable with 1/0
print(final.shape)
print('-'*20)
final = final.concat([final, pd.get_dummies(final['area'])], 1) # Trying this tactic with status_code
print(final.shape)
print('-'*20)
final = final.concat([final, pd.get_dummies(final['national_grouping'])], 1)
print('-'*20)
print(list(final.columns))  # Can see all the column names added on

In [ ]:
# Assign an ordered list of numbers
final['ccg_code'] = final.to_numeric(final['ccg_code'])
final['high_level_health_geography'] = pd.to_numeric(final['high_level_health_geography'])

ccg_code, high_level_health_geography, commissioner, sha, bnf.name,

In [ ]:
# Turn it into  a numeric variable
final['bnf.chapter'] = pd.to_numeric(final['bnf.chapter'])

In [184]:
print(final.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3652 entries, 0 to 3651
Data columns (total 24 columns):
e8...                             3652 non-null object
area                              3271 non-null object
national_grouping                 3652 non-null object
high_level_health_geography       3652 non-null object
date_open                         3652 non-null float64
status_code                       3652 non-null object
subtype                           3652 non-null object
commissioner                      3652 non-null object
type                              3652 non-null object
ccg_code                          3652 non-null object
number_of_patients                3652 non-null float64
ccg/pct                           3652 non-null object
primary_care_organisation_type    3652 non-null object
join_parent_date                  3652 non-null float64
left_parent_date                  2869 non-null float64
sha                               3652 non-null object
bnf.name                          3652 non-null object
items                             3652 non-null float64
nic                               3652 non-null float64
act.cost                          3652 non-null float64
quantity                          3652 non-null float64
bnf.chapter                       3652 non-null int64
bnf.section                       3652 non-null int64
bnf.paragraph                     3652 non-null int64
dtypes: float64(8), int64(3), object(13)
memory usage: 684.8+ KB
None