## Setup

In [1]:
import seaborn as sns
import pandas as pd

In [5]:
sns.set(style="whitegrid")# SNS set up
final = pd.read_csv("Combined_NHS_data.csv") # Import the dataset
# Need to deal with the columns being different types

/Users/imyyounge/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (3,4,5,6,7,8,9,11,12,13,14,15,16,17,18,19,20,23,24,25,28,34,39,40,41,42,43,44,45,46,47,57,58,59,60,61) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## Initial boxplots

In [6]:
final.head()

,Unnamed: 0,Unnamed: 0_x,timepoint,E8...,Name,Address_1_x,Address_2_x,Address_3_x,Area_x,Postcode_x,...,SHA,PCT,PRACTICE,BNF.CODE,BNF.NAME,ITEMS,NIC,ACT.COST,QUANTITY,PERIOD
0,0,1.0,201911.0,E82603,CASSIO SURGERY,1ST FLOOR COLNE HOUSE,21 UPTON ROAD,WATFORD,HERTFORDSHIRE,WD18 0JP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1.0,201911.0,E82603,CASSIO SURGERY,1ST FLOOR COLNE HOUSE,21 UPTON ROAD,WATFORD,HERTFORDSHIRE,WD18 0JP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1.0,201911.0,E82603,CASSIO SURGERY,1ST FLOOR COLNE HOUSE,21 UPTON ROAD,WATFORD,HERTFORDSHIRE,WD18 0JP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1.0,201911.0,E82603,CASSIO SURGERY,1ST FLOOR COLNE HOUSE,21 UPTON ROAD,WATFORD,HERTFORDSHIRE,WD18 0JP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1.0,201911.0,E82603,CASSIO SURGERY,1ST FLOOR COLNE HOUSE,21 UPTON ROAD,WATFORD,HERTFORDSHIRE,WD18 0JP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
sns.boxplot(x="day", y="total_bill", data=tips)
sns.plt.show()